<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Quarkus Chat!</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">

    <style>
        #chat {
            resize: none;
            overflow: hidden;
            min-height: 300px;
            max-height: 300px;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 5px;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-default navbar-pf" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <p><strong>>> Employee Managment</strong></p>
        </a>
    </div>
</nav>
<div class="container">
    <br/>
    <h1>
        Employee Info
    </h1>
    <div class="row">
        <h3>Firstname: {employee.firstname}</h3>
        <h3>Lastname: {employee.lastname}</h3>
    </div>
    <div class="row">
        <h2>Receipts</h2>
        <table id="receipts_table">
            <tr>
                <th>id</th>
                <th>amount of products</th>
                <th>receipt</th>
            </tr>
            {#for receipt in receipts}
            <tr>
                <td>
                    {receipt.id}
                </td>
                <td>
                    {receipt.products.size()}
                </td>
                <td style="white-space: pre-wrap;">
                    <div style="font-family: monospace;">
                    {receipt.print()}
                    </div>
                </td>
            </tr>
            {/for}
        </table>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/js/patternfly.min.js"></script>

</body>

</html>